* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('ariel-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Container to center content */
.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background: rgb(224, 129, 145);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#myVideo {
    max-width: 100%;
    height: auto;
}

/* Responsive typography */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Responsive image */
img {
    max-width: 100%;
    height: auto;
}

.carousel-item {
    text-align: center;
}
.carousel-item img {
    max-height: 400px; /* Adjust based on your preferred height */
    max-width: 100%;
    margin: auto;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}